.wrapper{ /** コンテンツ全体 */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 100%;
}
  
#main_win_area { /** メインコンテンツエリア(スクロール) */
    flex: 1 1 90vh;
    height:90vh;
    margin: 0;
    border: 0;
    padding: 0 0 50px 0;
    height:100%;
    width: 100vw;
    max-width: 100%;
    
}

.title_div1{
    width: 6.5%;
    float: left;
}

.title_div2{
    width: 93.5%;
    float: left;
}

.title_word{
    display: inline-block;
    width: 100%;
    height: 30px;
    font-weight: bold;
    background-color: coral;
    opacity: 0.5;
}


h1.hks_title {
    width:100%;
    font-size: 1.000em;
    padding: 0.25em 0.5em;
    margin: 15px auto 10px;
    color: #000000;
    background: #eeeeff ;
    border-left: solid 10px #0000ff;
  }

.point_word{
    color: aqua;
}

.push_btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 4px 4px 6px #cccccc;
    cursor: pointer;
  }

.btn_l{
    width: 90%;
    height: 40px;
    background-color: rgba(0, 153, 255,0.5);
   font-size: 2ex;
  }
 